%% erlang compiler opts
{erl_opts, [
	debug_info,
    warnings_as_errors,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_deprecated_function,
    warn_unused_vars,
    warn_unused_records,
%    native,
%    {hipe,[o3]},
	{i, "include"}
	]
}.

{require_otp_vsn, "R14"}.

%% coverage report
{cover_enabled, true}.
{cover_print_enabled, true}.

% port driver specs
{so_specs, [
	{"priv/lib/erluna_drv.so", ["c_src/erluna.o", "c_src/erluna_driver.o", "c_src/erluna_term.o"]}
	]
}.

%% port driver compiling envs
{port_envs, [
	{"CFLAGS", "$CFLAGS -std=c99 -g3 -O2 -fPIC -I/usr/local/lib/erlang/usr/include/ -I/usr/local/lib/erlang/lib/erl_interface-3.7.4/include/ -I/home/lz/erlang/lib/erlang/lib/erl_interface-3.7.2/include -I/usr/local/include/luajit-2.0 -I/usr/include/luajit-2.0 -I/home/lz/luajit/include/luajit-2.0"},
%	{"LDFLAGS", "$LDFLAGS -L/usr/local/lib/erlang/lib/erl_interface-3.7.4/lib -L/home/lz/erlang/lib/erlang/lib/erl_interface-3.7.2/lib -lerl_interface -lei -llua"}
	{"LDFLAGS", "$LDFLAGS -L/usr/local/lib/erlang/lib/erl_interface-3.7.4/lib -L/home/lz/erlang/lib/erlang/lib/erl_interface-3.7.2/lib -L/home/lz/luajit/lib/ -Wl,-rpath=/home/lz/luajit/lib -lerl_interface -lei -lluajit-5.1"}
	]
}.

% vi:ts=4 sw=4 et ft=erlang

